# Data Preparation

Clean the data here, once, and export as a csv for analysis.

In [37]:
# import libraries
import pandas as pd

In [38]:
# import data
df = pd.read_csv('../../data/processed/grid/bal/2018-09-23_var/bal_data_500.csv')

In [47]:
df.describe()

,x,y,area,lst_day_mean,lst_day_max,lst_day_min,lst_day_var,lst_night_mean,lst_night_max,lst_night_min,...,svf_min_sl,svf_var_sl,dsm_mean_sl,dsm_max_sl,dsm_min_sl,dsm_var_sl,elev_mean_sl,elev_max_sl,elev_min_sl,elev_var_sl
count,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,...,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000
mean,433071.780346,182388.614704,239612.992222,42.033448,46.101818,35.045417,10.184243,28.973201,30.813984,24.428318,...,0.525054,0.004235,61.441671,92.276754,46.173275,58.079479,58.495292,69.815675,46.977901,39.309474
std,4470.021231,4401.682579,33375.791984,4.049121,2.888918,6.865318,14.376319,1.927107,1.316732,4.348771,...,0.109578,0.003037,41.666641,41.932075,38.971040,45.820298,41.339051,42.451143,38.958348,39.665628
min,424996.178971,170212.211496,354.092810,22.807793,23.720533,19.782183,0.094168,20.526812,23.204323,16.375092,...,0.115733,0.000547,2.792569,22.861799,-7.290245,5.768982,1.232402,3.813496,-0.631487,0.952709
25%,429496.178971,179212.211496,250000.000000,40.376811,44.287132,29.051159,1.340961,28.445516,29.841621,20.443888,...,0.457870,0.002480,22.794995,53.088501,10.066744,32.096592,20.150378,31.241457,11.026321,16.381232
50%,432996.178971,182712.211496,250000.000000,42.750324,46.201408,32.237560,3.901684,29.310599,30.688068,21.589033,...,0.533105,0.003472,55.825839,87.651879,40.203563,43.486246,52.851992,64.040571,41.181864,27.766738
75%,436996.178971,186212.211496,250000.000000,44.792342,47.961624,41.583397,14.698405,30.168775,31.529123,28.821945,...,0.596182,0.005182,96.605942,129.902777,76.076421,62.236969,92.945271,109.241575,77.085647,44.130840
max,440496.178971,189212.211496,250000.000000,49.151763,58.582375,47.422459,94.761294,32.778806,35.316219,31.341824,...,0.804769,0.026131,143.426654,176.591482,134.702774,288.939178,140.895922,146.305188,135.038254,269.000551

### > List the data

In [40]:
# list of the variables
df.columns.values

array(['Unnamed: 0', 'x', 'y', 'cId', 'area', 'city', 'lst_day_mean',
       'lst_day_max', 'lst_day_min', 'lst_day_var', 'lst_night_mean',
       'lst_night_max', 'lst_night_min', 'lst_night_var', 'alb_mean',
       'alb_max', 'alb_min', 'alb_var', 'ndvi_mean', 'ndvi_max',
       'ndvi_min', 'ndvi_var', 'lcov_11', 'lcov_21', 'lcov_22', 'lcov_23',
       'lcov_24', 'lcov_31', 'lcov_41', 'lcov_42', 'lcov_43', 'lcov_52',
       'lcov_71', 'lcov_90', 'lcov_95', 'tree_mean', 'tree_max',
       'tree_min', 'tree_var', 'imp_mean', 'imp_max', 'imp_min',
       'imp_var', 'nbdi_mean', 'nbdi_max', 'nbdi_min', 'nbdi_var',
       'pop_dens', 'bldg', 'ntl_mean', 'ntl_max', 'ntl_min', 'ntl_var',
       'svf_mean', 'svf_max', 'svf_min', 'svf_var', 'dsm_mean', 'dsm_max',
       'dsm_min', 'dsm_var', 'elev_mean', 'elev_max', 'elev_min',
       'elev_var', 'lst_day_mean_sl', 'lst_day_max_sl', 'lst_day_min_sl',
       'lst_day_var_sl', 'lst_night_mean_sl', 'lst_night_max_sl',
       'lst_night_min_sl', 'lst_night_var_sl', 'alb_mean_sl',
       'alb_max_sl', 'alb_min_sl', 'alb_var_sl', 'ndvi_mean_sl',
       'ndvi_max_sl', 'ndvi_min_sl', 'ndvi_var_sl', 'lcov_11_sl',
       'lcov_21_sl', 'lcov_22_sl', 'lcov_23_sl', 'lcov_24_sl',
       'lcov_31_sl', 'lcov_41_sl', 'lcov_42_sl', 'lcov_43_sl',
       'lcov_52_sl', 'lcov_71_sl', 'lcov_90_sl', 'lcov_95_sl',
       'tree_mean_sl', 'tree_max_sl', 'tree_min_sl', 'tree_var_sl',
       'imp_mean_sl', 'imp_max_sl', 'imp_min_sl', 'imp_var_sl',
       'nbdi_mean_sl', 'nbdi_max_sl', 'nbdi_min_sl', 'nbdi_var_sl',
       'pop_dens_sl', 'bldg_sl', 'ntl_mean_sl', 'ntl_max_sl',
       'ntl_min_sl', 'ntl_var_sl', 'svf_mean_sl', 'svf_max_sl',
       'svf_min_sl', 'svf_var_sl', 'dsm_mean_sl', 'dsm_max_sl',
       'dsm_min_sl', 'dsm_var_sl', 'elev_mean_sl', 'elev_max_sl',
       'elev_min_sl', 'elev_var_sl'], dtype=object)

# Drop admin variables and rows which are outside of the city limits

In [41]:
# admin variables
df = df.drop(['Unnamed: 0', 'cId'], axis = 1)
# outside city limits
df = df[df['area'] > 0]

# Drop variables with too many NaNs

Dropping `ntl` night time light variance as there is too little variation in the data - so it's NaN.
Keeping the `_sl` variables with 2% NaN. They could be removed, but also might be useful. So the question is do we drop the row or the column during analysis?

In [46]:
# what % of data is NaN?
((len(df) - df.count() ) / len(df)).sort_values(ascending=False)[0:30]

elev_var_sl    0.0
elev_min_sl    0.0
lcov_90        0.0
lcov_95        0.0
tree_mean      0.0
tree_max       0.0
tree_min       0.0
tree_var       0.0
imp_mean       0.0
imp_max        0.0
imp_min        0.0
imp_var        0.0
nbdi_mean      0.0
nbdi_max       0.0
nbdi_min       0.0
nbdi_var       0.0
pop_dens       0.0
bldg           0.0
ntl_mean       0.0
ntl_max        0.0
ntl_min        0.0
svf_mean       0.0
svf_max        0.0
svf_min        0.0
svf_var        0.0
dsm_mean       0.0
dsm_max        0.0
dsm_min        0.0
dsm_var        0.0
lcov_71        0.0
dtype: float64

Drop `ntl_var`

In [43]:
df = df.drop(['ntl_var','ntl_var_sl'], axis=1)

Drop NaN rows and columns (shouldn't be any)

# Land cover

Turn the landcover variables into a percentage of the grid cell

Drop cells with water more than 20% of area

Drop the land cover variables that aren't water (they're used in calculating LST)

# Tree canopy

In [ ]:
# make tree values a percentage
vars_tree = [i for i in vars_all if 'tree' in i]
df.loc[:,vars_tree] = df[vars_tree]/100

# Elevation (DEM)

Subtract the mean from the elevation values

In [ ]:
vars_elev = [i for i in vars_all if 'elev' in i]

# Export to csv

In [ ]:
df.to_csv('../../data/cleaned/bal/bal_data.csv')